body {
  font-size: 85%;
  font-family: 'Glegoo', 'sans-serif';
  background-image: url("./images/background.jpg");
background-size: cover;
background-blend-mode: overlay;
}

.h1{
  font-family: 'Arima Madurai', 'sans-serif';
  font-size: 250%;
  color:#12191c;;
  
  transform: translate(0, 0);
    -moz-box-shadow: 4px 4px 6px rgba(34, 34, 32, 0.5);
    -webkit-box-shadow: 4px 4px 6px rgba(25, 5, 58, 0.5);
    box-shadow: 2px 2px 4px rgba(175,173,173,.5);
}

button, input {
  font-size: 85%;
  font-family:'Glegoo', 'sans-serif';
  transform: translate(0, 0);
    -moz-box-shadow: 4px 4px 6px rgba(34, 34, 32, 0.5);
    -webkit-box-shadow: 2px 2px 4px rgba(25, 5, 58, 0.5);
    box-shadow: 2px 2px 4px rgba(175,173,173,.5);
}

table {
  width: 100%;
  border: 2px inset #1d2125;
  transform: translate(0, 0);
    -moz-box-shadow: 7px 9px 13px rgba(34, 34, 32, 0.5);
    -webkit-box-shadow: 7px 9px 13px rgba(25, 5, 58, 0.5);
    box-shadow: 7px 9px 13px rgba(175, 173, 173, 0.5);
 
}

td, th {
  border: 1px inset #3c3f42;
  text-align: left;
  padding: 8px;
  background-color:linear-gradient(bottom,#a8bae9, #007ea3);
  transform: translate(0, 0);
    -moz-box-shadow: 7px 9px 13px rgba(34, 34, 32, 0.5);
    -webkit-box-shadow: 7px 9px 13px rgba(25, 5, 58, 0.5);
    box-shadow: 7px 9px 13px rgba(175, 173, 173, 0.5);

}

tr:nth-child(even) {
  background-color:#d3601e;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
  background-image: linear-gradient(#6f7f8d,#007ea3 );

}


.total {
  font-size: 150%;
  text-decoration: none;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;

}
