body {
  font-size: 120%;
  font-family: Arial;
  background-image: url("./images/background.jpg");
background-size: cover;
background-blend-mode: overlay;

}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
 
}

td, th {
  border: 1px solid #6f7f8d;
  text-align: left;
  padding: 8px;
  background-color:#a8bae9;
}

tr:nth-child(even) {
  background-color:#c2d3a7;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
  background-image: linear-gradient(#6f7f8d,#12191c );

}


.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;

}
